<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import "@material/web/all.js";
      import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <script src="../assets/js/modeswitch.js">
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InKode :</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>

  <body>
    <nav class="upper_nav">
      <li class="logo">
        <img id="darkmode" src="../assets/images/InKodeWhite.png" alt="Logo Website" class="logo" />
        <img id="whitemode" src="../assets/images/InKodeBlack.png" alt="Logo Website" class="logo" />
      </li>
      <ul class="nav-menu">
        <li onclick="window.location.href='../index.html'">
          <span class="material-symbols-rounded">home</span>
          &nbsp;
          <a href="#">Beranda</a>
        </li>
        <li onclick="window.location.href='../layouts/course.html'">
          <span class="material-symbols-rounded">library_books</span>
          &nbsp;
          <a href="#">Kursus</a>
        </li>
        <li onclick="window.location.href='../layouts/exercise.html'">
          <span class="material-symbols-rounded">draw</span>
          &nbsp;
          <a href="#">Latihan</a>
        </li>
        <li onclick="window.location.href='../layouts/login.html'">
          <span class="material-symbols-rounded">login</span>
          &nbsp;
          <a href="#">Login</a>
        </li>
      </ul>
    </nav>
    <nav class="btm_nav">
      <ul>
        <li onclick="window.location.href='../index.html'">
          <a href="#">
            <span class="material-symbols-rounded">home</span>
            <span>Home</span>
          </a>
        </li>
        <li onclick="window.location.href='../layouts/course.html'">
          <a href="#">
            <span class="material-symbols-rounded">book</span>
            <span>Course</span>
          </a>
        </li>
        <li onclick="window.location.href='../layouts/exercise.html'">
          <a href="#">
            <span class="material-symbols-rounded">edit</span>
            <span>Latihan</span>
          </a>
        </li>
        <li onclick="window.location.href='../layouts/login.html'">
          <a href="#">
            <span class="material-symbols-rounded">person</span>
            <span>Akun</span>
          </a>
        </li>
      </ul>
    </nav>
    
    <main>
      <md-icon-button style="margin-top: 18px;" onclick="switchMode()" class="switchmode" toggle selected>
        <span class="material-symbols-rounded">light_mode</span>
        <span class="material-symbols-rounded" slot="selected">dark_mode</span>
      </md-icon-button>
      <div class="contier">
        <p class="kursus-awal-text">PILIHAN MATERI</p>
        <div class="kursus-kotak kursus-kotak1">
          <div class="kursus-teks">
            <p>C++/Cpp</p>
          </div>

          <div class="kursus-box-materi">
            <div class="img">
              <img src="../assets/images/cpp_logo.png" alt="" />
            </div>
            <div class="kursus-materi">
              <div class="kursus-materi_text">
                <p>
                  C++ merupakan pemrograman tingkat tinggi dari pengembangan bahasa C. Memiliki berbagai paradigma pemrograman, seperti prosedural, berorientasi objek, dan generik. Fitur utama C++ meliputi definisi kelas dan objek, pewarisan, polimorfisme, dan template untuk kode yang fleksibel.
              </p>
              </div>
              <md-filled-button class="login-button">
                <p style="display: flex; align-items: start">
                  <span style="margin-right: 6px" class="material-symbols-rounded">
                    login
                  </span>
                  <span style="margin-top: 2.3px">Sigma Kan</span>
                </p>
              </md-filled-button>
            </div>
          </div>
        </div>
        <div class="kursus-kotak kursus-kotak1">
          <div class="kursus-teks">
            <p>HTML</p>
          </div>

          <div class="kursus-box-materi">
            <div class="img">
              <img src="../assets/images/html.png" alt="" />
            </div>
            <div class="kursus-materi">
              <div class="kursus-materi_text">
                <p>
                  HTML adalah bahasa markup yang mendefinisikan struktur halaman web, mengatur konten, dan menghadirkan elemen dengan cara menakjubkan.
              </p>
              </div>
              <md-filled-button class="login-button">
                <p style="display: flex; align-items: start">
                  <span style="margin-right: 6px" class="material-symbols-rounded">
                    login
                  </span>
                  <span style="margin-top: 2.3px">Sigma Kan</span>
                </p>
              </md-filled-button>
            </div>
          </div>
        </div>
        <div class="kursus-kotak kursus-kotak1">
          <div class="kursus-teks">
            <p>PYTHON</p>
          </div>

          <div class="kursus-box-materi">
            <div class="img">
              <img src="../assets/images/py_logo.png" alt="" />
            </div>
            <div class="kursus-materi">
              <div class="kursus-materi_text">
                <p>
                  Python adalah bahasa pemrograman tingkat tinggi yang mudah dibaca, mendukung pemrograman berorientasi objek, sering digunakan dalam web, data sains, dan otomatisasi.
              </p>
              </div>
              <md-filled-button class="login-button">
                <p style="display: flex; align-items: start">
                  <span style="margin-right: 6px" class="material-symbols-rounded">
                    login
                  </span>
                  <span style="margin-top: 2.3px">Sigma Kan</span>
                </p>
              </md-filled-button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="divider"></div>
    <footer>
      <p>&copy; 2024 InKode. All rights reserved.</p>
    </footer>
  </body>
  <body style="background-color: black">
    <div class="bg-animation">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div id="stars4"></div>
    </div>
  </body>
</html>
