<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import "@material/web/all.js";
      import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <script src="../assets/js/modeswitch.js">
    </script> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InKode :</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>

  <body>
    <nav class="upper_nav">
      <li class="logo">
        <img src="../assets/images/InKode.png" alt="Logo Website" class="logo" />
      </li>
      <ul class="nav-menu">
        <li onclick="window.location.href='../index.html'">
          <span class="material-symbols-rounded">home</span>
          &nbsp;
          <a href="#">Beranda</a>
        </li>
        <li onclick="window.location.href='../layouts/course.html'">
          <span class="material-symbols-rounded">library_books</span>
          &nbsp;
          <a href="#">Kursus</a>
        </li>
        <li onclick="window.location.href='../layouts/exercise.html'">
          <span class="material-symbols-rounded">draw</span>
          &nbsp;
          <a href="#">Latihan</a>
        </li>
        <li onclick="window.location.href='../layouts/login.html'">
          <span class="material-symbols-rounded">login</span>
          &nbsp;
          <a href="#">Login</a>
        </li>
        <li><md-icon-button style="margin-top: 0;" onclick="switchMode()" toggle selected>
          <span class="material-symbols-rounded">light_mode</span>
          <span class="material-symbols-rounded" slot="selected">dark_mode</span>
        </md-icon-button></li>
      </ul>
    </nav>
    <nav class="btm_nav">
      <ul>
        <li onclick="window.location.href='../index.html'">
          <a href="#">
            <span class="material-symbols-rounded">home</span>
            <span>Home</span>
          </a>
        </li>
        <li onclick="window.location.href='../layouts/course.html'">
          <a href="#">
            <span class="material-symbols-rounded">book</span>
            <span>Course</span>
          </a>
        </li>
        <li onclick="window.location.href='../layouts/exercise.html'">
          <a href="#">
            <span class="material-symbols-rounded">edit</span>
            <span>Latihan</span>
          </a>
        </li>
        <li onclick="window.location.href='../layouts/login.html'">
          <a href="#">
            <span class="material-symbols-rounded">person</span>
            <span>Akun</span>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <div class="hero-div">
        <!-- <md-switch class="switchmode" icons selected></md-switch> -->
          <md-icon-button style="margin-top: 18px;" onclick="switchMode()" class="switchmode" toggle selected>
            <span class="material-symbols-rounded">light_mode</span>
            <span class="material-symbols-rounded" slot="selected">dark_mode</span>
          </md-icon-button>
        <h2>Selamat Datang di Exercise!</h2>
        <p>Mulai perjalanan belajar coding Anda sekarang.</p>
        <md-filled-button type="reset">Reset</md-filled-button>
      </div>
      <h1>Selamat Datang di Website Saya!</h1>
      <p>
        Ini adalah halaman utama website sederhana. Kamu bisa menambahkan konten
        di sini.
      </p>
      <p>
        ini merupakan tahap awal dari kode kode dalam Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Quis id in velit modi quo aperiam,
        quam voluptatibus doloribus debitis accusantium necessitatibus fugiat
        reprehenderit praesentium ad culpa aspernatur animi? Et, dolor. Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Culpa ducimus vero
        adipisci ad neque voluptas quisquam, exercitationem autem aliquid illum
        amet asperiores? Vitae amet quae fugit. Doloribus dolore debitis ipsam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ipsam
        perspiciatis dolore iste mollitia accusantium, quo quam quas
        dignissimos, adipisci dolores. Exercitationem cupiditate ad debitis
        reiciendis. Voluptatibus magni voluptatem deserunt. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Ipsam a doloribus maxime
        eligendi, necessitatibus aperiam quis. Eum enim culpa illo vel est
        suscipit iure soluta at corporis error! Architecto, laboriosam!
      </p>
    </main>
    <div class="divider"></div>
    <footer>
      <p>&copy; 2024 InKode. All rights reserved.</p>
    </footer>
  </body>

  <body style="background-color: black">
    <div class="bg-animation">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div id="stars4"></div>
    </div>
  </body>
</html>
